h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
#body {
  background-color: rgb(218, 232, 227);
}
.myBots {
  background-color:bisque;
  padding: 20px;
  border-radius: 3px;
  cursor: pointer;
  width: 28%;
  overflow-x: hidden;
}
.botContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 5%;
}
.catch {
  width: 10%;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
#delete {
  background-color: red;
  height: 5vh;
  width: 20%;
  border-radius: 10px;
  cursor: pointer;
}
#addArmy {
  height: 5vh;
  width: 20%;
  border-radius: 5px;
  cursor: pointer;
}
.image {
  height: 20vh;
}
